### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Identify incomplete rows - look to see if the same number of rows exist for all index / columns
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [3]:
number_of_schools = school_data_complete["School ID"].nunique(1,)
print(number_of_schools)

15

In [4]:
number_students = school_data_complete["Student ID"].nunique(1,)
print(number_students)

39170

In [5]:
total_budget = school_data_complete["budget"].sum()
print(total_budget)

82932329558

In [6]:
ave_math_score = school_data_complete["math_score"].mean()
print(ave_math_score)

78.98537145774827

In [7]:
ave_read_score = school_data_complete["reading_score"].mean()
print(ave_read_score)

81.87784018381414

In [8]:
num_students_passing_math_df = school_data_complete.loc[school_data_complete["math_score"]>=70,["Student ID"]]
num_students_passing_math = num_students_passing_math_df["Student ID"].nunique(1)
print(num_students_passing_math)

29370

In [9]:
num_students_passing_read_df = school_data_complete.loc[school_data_complete["reading_score"]>=70,["Student ID"]]
num_students_passing_read = num_students_passing_read_df["Student ID"].nunique(1)
print(num_students_passing_read)

33610

In [10]:
pct_pass_math = num_students_passing_math/number_students
print(pct_pass_math)

0.749808526933878

In [11]:
pct_pass_read = num_students_passing_read/number_students
print(pct_pass_read)

0.8580546336482001

In [12]:
num_students_passing_both_df = pd.merge(num_students_passing_math_df,num_students_passing_read_df,how='inner',on="Student ID")
num_students_passing_both = num_students_passing_both_df["Student ID"].nunique(1)
pct_students_passing_both = num_students_passing_both/number_students
print(pct_students_passing_both)

0.6517232575950983

In [13]:
PyCity_Schools_Summary_df = pd.DataFrame(
    {"Number of Schools": [int(number_of_schools)],
     "Number of Students": [int(number_students)],
     "Total Budget": [int(total_budget)],
     "Ave Math Score": [float(ave_math_score)],
     "Ave Reading Score": [float(ave_read_score)],
     "Pct Passing Math": [float(pct_pass_math)],
     "Pct Passing Reading": [float(pct_pass_read)],
     "Pct Passing Math and Reading": [float(pct_students_passing_both)]
    })
PyCity_Schools_Summary_df

,Number of Schools,Number of Students,Total Budget,Ave Math Score,Ave Reading Score,Pct Passing Math,Pct Passing Reading,Pct Passing Math and Reading
0,15,39170,82932329558,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
# Create list of schools
school_name = school_data.set_index(["School name"])["school_name"]
school_name

In [ ]:
# Create list of school type
school_type=school_data.set_index(["School ID"])["type"]

In [ ]:
# Count total number of students at each school
total_number_students = school_data_complete["School ID"].value_counts()

In [ ]:
# Calculate Total School Budget at each school
school_budget = school_data.set_index(["School ID"])["budget"]

In [ ]:
# Calculate Per Student Budget at each school
budget_per_student = school_budget/total_number_students

In [ ]:
# Calculate average math and reading score by school
avemathscore = school_data_complete.groupby("School ID").mean()["math_score"]
avereadscore = school_data_complete.groupby("School ID").mean()["reading_score"]

In [ ]:
# Create Dataframes for students passing math, reading, and both
passing_math_by_school=school_data_complete[(school_data_complete["math_score"]>=70)]
passing_read_by_school=school_data_complete[(school_data_complete["reading_score"]>=70)]
passing_both_by_school=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)]

In [ ]:
# Calculate % students passing math at each school
pct_students_pass_math = passing_math_by_school.groupby("School ID").count()["student_name"]/total_number_students*100
pct_students_pass_read = passing_read_by_school.groupby("School ID").count()["student_name"]/total_number_students*100
pct_students_pass_both = passing_both_by_school.groupby("School ID").count()["student_name"]/total_number_students*100

In [ ]:
# Creating a new DataFrame to show school performance
summary_df = pd.DataFrame({"School":school_name,
                           "School Type":school_type,
                           "Total Students": total_number_students,
                           "School Budget":school_budget,
                           "Budget per Student":budget_per_student,
                           "Ave Math Score": avemathscore,
                           "Ave Reading Score":avereadscore,
                           "% Pass Math":pct_students_pass_math,
                           "% Pass Reading":pct_students_pass_read,
                           "% Pass Math and Reading":pct_students_pass_both,
                          })

# Format the "Total Students" to have the comma for a thousands separator.
summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
summary_df["School Budget"] = summary_df["School Budget"].map("${:,.2f}".format)
# Format the columns.
summary_df["Ave Math Score"] = summary_df["Ave Math Score"].map("{:.1f}".format)
summary_df["Ave Reading Score"] = summary_df["Ave Reading Score"].map("{:.1f}".format)
summary_df["% Pass Math"] = summary_df["% Pass Math"].map("{:.1f}".format)
summary_df["% Pass Reading"] = summary_df["% Pass Reading"].map("{:.1f}".format)
summary_df["% Pass Math and Reading"] = summary_df["% Pass Math and Reading"].map("{:.1f}".format)


# summary_df.style.format.hide_index()
summary_df

BCS Help

In [14]:
# Determine the School Type
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

# Calculate the total school budget and per capita spending
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [15]:
# Get the students who passed math and passed reading by creating separate filtered DataFrames.
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

# Get the the students who passed both reading and math in a separate DataFrame.
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)
                                               & (school_data_complete["math_score"] >= 70)]

In [16]:
#  Calculate the Percentage Pass Rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [17]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate})

# Minor data munging
per_school_summary = per_school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                         "Average Math Score", "Average Reading Score", 
                                         "% Passing Math", "% Passing Reading", 
                                         "% Overall Passing"]]
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [ ]:
# summary_df.style.format({"School":school,
#                         "School Type":school_type,
#                         "Total Students": total_number_students,
#                         "School Budget":school_budget,
#                         "Budget per Student":budget_per_student,
#                         "Ave Math Score": avemathscore,
#                         "Ave Reading Score":avereadscore,
#                         "%Pass Math":pct_students_pass_math,
#                         "% Pass Reading":pct_students_pass_read,
#                         "% Pass Math and Reading":pct_students_pass_both,
#                         })

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_performing_df = summary_df.sort_values(by=["% Pass Math and Reading"],ascending=False)
top_performing_df.head(5)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
worst_performing_df = summary_df.sort_values(by=["% Pass Math and Reading"],ascending=True)
worst_performing_df.head(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# Create Data Frame for each grade
data_9_df=school_data_complete[(school_data_complete["grade"]=="9th")]
data_10_df=school_data_complete[(school_data_complete["grade"]=="10th")]
data_11_df=school_data_complete[(school_data_complete["grade"]=="11th")]
data_12_df=school_data_complete[(school_data_complete["grade"]=="12th")]

In [ ]:
# Create Data Series for each grade 
math_9 = data_9_df.groupby("School ID").mean()["math_score"]
math_10 = data_10_df.groupby("School ID").mean()["math_score"]
math_11 = data_11_df.groupby("School ID").mean()["math_score"]
math_12 = data_12_df.groupby("School ID").mean()["math_score"]

In [ ]:
# Creating a new DataFrame to show math performance by school for each grade
summary_math_grade_df = pd.DataFrame({"School":school_name,
                           "9th":math_9,
                           "10th":math_10,
                           "11th":math_11,
                           "12th":math_12
                          })
summary_math_grade_df = summary_math_grade_df.set_index("School")
summary_math_grade_df

* Perform the same operations as above for reading scores

In [ ]:
# Create Data Series for each grade 
read_9 = data_9_df.groupby("School ID").mean()["reading_score"]
read_10 = data_10_df.groupby("School ID").mean()["reading_score"]
read_11 = data_11_df.groupby("School ID").mean()["reading_score"]
read_12 = data_12_df.groupby("School ID").mean()["reading_score"]

In [ ]:
# Creating a new DataFrame to show math performance by school for each grade
summary_read_grade_df = pd.DataFrame({"School":school_name,
                           "9th":read_9,
                           "10th":read_10,
                           "11th":read_11,
                           "12th":read_12
                          })
summary_read_grade_df=summary_read_grade_df.set_index("School")
summary_read_grade_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [18]:
# Create dataframes for each budget category (Filter based on Budget per Student)
spend_1_df = summary_df[(summary_df["Budget per Student"]<585)]
spend_2_df = summary_df[(summary_df["Budget per Student"]>=585) & (summary_df["Budget per Student"]<630)]
spend_3_df = summary_df[(summary_df["Budget per Student"]>=630) & (summary_df["Budget per Student"]<645)]
spend_4_df = summary_df[(summary_df["Budget per Student"]>=645) & (summary_df["Budget per Student"]<680)]

NameError: name 'summary_df' is not defined

In [19]:
# Calculate the average math score per student in each spending per pupil category
spend1_avemath = spend_1_df.mean()["Ave Math Score"]
spend2_avemath = spend_2_df.mean()["Ave Math Score"]
spend3_avemath = spend_3_df.mean()["Ave Math Score"]
spend4_avemath = spend_4_df.mean()["Ave Math Score"]

NameError: name 'spend_1_df' is not defined

In [ ]:
# Calculate the average reading score per student in each spending per pupil category
spend1_averead = spend_1_df.mean()["Ave Reading Score"]
spend2_averead = spend_2_df.mean()["Ave Reading Score"]
spend3_averead = spend_3_df.mean()["Ave Reading Score"]
spend4_averead = spend_4_df.mean()["Ave Reading Score"]

In [ ]:
# Calculate the % passing math in each spending per pupil category
spend1_pctpassmath = spend_1_df.mean()["%Pass Math"]
spend2_pctpassmath = spend_2_df.mean()["%Pass Math"]
spend3_pctpassmath = spend_3_df.mean()["%Pass Math"]
spend4_pctpassmath = spend_4_df.mean()["%Pass Math"]

In [ ]:
# Calculate the % passing reading in each spending per pupil category
spend1_pctpassread = spend_1_df.mean()["% Pass Reading"]
spend2_pctpassread = spend_2_df.mean()["% Pass Reading"]
spend3_pctpassread = spend_3_df.mean()["% Pass Reading"]
spend4_pctpassread = spend_4_df.mean()["% Pass Reading"]

In [ ]:
# Calculate the % passing math and reading in each spending per pupil category
spend1_pctpass_math_read = spend_1_df.mean()["% Pass Math and Reading"]
spend2_pctpass_math_read = spend_2_df.mean()["% Pass Math and Reading"]
spend3_pctpass_math_read = spend_3_df.mean()["% Pass Math and Reading"]
spend4_pctpass_math_read = spend_4_df.mean()["% Pass Math and Reading"]

In [ ]:
# Create Dataframe using a list of dictionaries
spending_df = pd.DataFrame([
    {"Spending Ranges per Student": "<$585","Average Math Score":spend1_avemath,"Average Reading Score":spend1_averead,"% Pass Math": spend1_pctpassmath,"% Pass Reading": spend1_pctpassread,"% Pass Math and Reading": spend1_pctpass_math_read},
    {"Spending Ranges per Student": "$585-630","Average Math Score":spend2_avemath,"Average Reading Score":spend2_averead,"% Pass Math": spend2_pctpassmath,"% Pass Reading": spend2_pctpassread,"% Pass Math and Reading": spend2_pctpass_math_read},
    {"Spending Ranges per Student": "$630-645","Average Math Score":spend3_avemath,"Average Reading Score":spend3_averead,"% Pass Math": spend3_pctpassmath,"% Pass Reading": spend3_pctpassread,"% Pass Math and Reading": spend3_pctpass_math_read},
    {"Spending Ranges per Student": "$645-680","Average Math Score":spend4_avemath,"Average Reading Score":spend4_averead,"% Pass Math": spend4_pctpassmath,"% Pass Reading": spend4_pctpassread,"% Pass Math and Reading": spend4_pctpass_math_read},
])

spending_df = spending_df.set_index("Spending Ranges per Student")
spending_df

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Create dataframes for each budget category
size_1_df = summary_df[(summary_df["Total Students"]<1000)]
size_2_df = summary_df[(summary_df["Total Students"]>=1000) & (summary_df["Total Students"]<2000)]
size_3_df = summary_df[(summary_df["Total Students"]>=2000) & (summary_df["Total Students"]<5000)]

In [ ]:
# Calculate the average math score per student in each school size category
size_1_avemath = size_1_df.mean()["Ave Math Score"]
size_2_avemath = size_2_df.mean()["Ave Math Score"]
size_3_avemath = size_3_df.mean()["Ave Math Score"]

In [ ]:
# Calculate the average reading score per student in each school size category
size_1_averead = size_1_df.mean()["Ave Reading Score"]
size_2_averead = size_2_df.mean()["Ave Reading Score"]
size_3_averead = size_3_df.mean()["Ave Reading Score"]

In [ ]:
# Calculate the % passing math in each school size category
size_1_pctpassmath = size_1_df.mean()["%Pass Math"]
size_2_pctpassmath = size_2_df.mean()["%Pass Math"]
size_3_pctpassmath = size_3_df.mean()["%Pass Math"]

In [ ]:
# Calculate the % passing reading in each school size category
size_1_pctpassread = size_1_df.mean()["% Pass Reading"]
size_2_pctpassread = size_2_df.mean()["% Pass Reading"]
size_3_pctpassread = size_3_df.mean()["% Pass Reading"]

In [ ]:
# Calculate the % passing math and reading in each spending per pupil category
size_1_pctpass_math_read = size_1_df.mean()["% Pass Math and Reading"]
size_2_pctpass_math_read = size_2_df.mean()["% Pass Math and Reading"]
size_3_pctpass_math_read = size_3_df.mean()["% Pass Math and Reading"]

In [ ]:
## Create Dataframe using a list of dictionaries
size_summary_df = pd.DataFrame([
    {"Spending Range per Student": "Small(<1000)","Average Math Score":size_1_avemath,"Average Reading Score":size_1_averead,"% Pass Math": size_1_pctpassmath,"% Pass Reading": size_1_pctpassread,"% Pass Math and Reading": size_1_pctpass_math_read},
    {"Spending Range per Student": "Medium(1000-2000)","Average Math Score":size_2_avemath,"Average Reading Score":size_2_averead,"% Pass Math": size_2_pctpassmath,"% Pass Reading": size_2_pctpassread,"% Pass Math and Reading": size_2_pctpass_math_read},
    {"Spending Range per Student": "Large(2000-5000)","Average Math Score":size_3_avemath,"Average Reading Score":size_3_averead,"% Pass Math": size_3_pctpassmath,"% Pass Reading": size_3_pctpassread,"% Pass Math and Reading": size_3_pctpass_math_read},
])

size_summary_df = size_summary_df.set_index("Spending Range per Student")
size_summary_df

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
summary_df

In [ ]:
# Create dataframes for each budget category
type_1_df = summary_df[(summary_df["School Type"]=="District")]
type_2_df = summary_df[(summary_df["School Type"]=="Charter")]

In [ ]:
# Calculate the average math score per student in each school size category
type_1_avemath = type_1_df.mean()["Ave Math Score"]
type_2_avemath = type_2_df.mean()["Ave Math Score"]

In [ ]:
# Calculate the average reading score per student in each school size category
type_1_averead = type_1_df.mean()["Ave Reading Score"]
type_2_averead = type_2_df.mean()["Ave Reading Score"]

In [ ]:
# Calculate the % passing math in each school size category
type_1_pctpassmath = type_1_df.mean()["%Pass Math"]
type_2_pctpassmath = type_2_df.mean()["%Pass Math"]

In [ ]:
# Calculate the % passing reading in each school size category
type_1_pctpassread = type_1_df.mean()["% Pass Reading"]
type_2_pctpassread = type_2_df.mean()["% Pass Reading"]

In [ ]:
# Calculate the % passing math and reading in each spending per pupil category
type_1_pctpass_math_read = type_1_df.mean()["% Pass Math and Reading"]
type_2_pctpass_math_read = type_2_df.mean()["% Pass Math and Reading"]

In [ ]:
## Create Dataframe using a list of dictionaries
type_summary_df = pd.DataFrame([
    {"School Type": "Charter","Average Math Score":type_2_avemath,"Average Reading Score":type_2_averead,"% Pass Math": type_2_pctpassmath,"% Pass Reading": type_2_pctpassread,"% Pass Math and Reading": type_2_pctpass_math_read},
    {"School Type": "District","Average Math Score":type_1_avemath,"Average Reading Score":type_1_averead,"% Pass Math": type_1_pctpassmath,"% Pass Reading": type_1_pctpassread,"% Pass Math and Reading": type_1_pctpass_math_read},
])

type_summary_df = type_summary_df.set_index("School Type")
type_summary_df