### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Identify incomplete rows - look to see if the same number of rows exist for all index / columns
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [3]:
number_of_schools = school_data_complete["School ID"].nunique(1,)
print(number_of_schools)

15

In [4]:
number_students = school_data_complete["Student ID"].nunique(1,)
print(number_students)

39170

In [5]:
total_budget = school_data_complete["budget"].sum()
print(total_budget)

82932329558

In [6]:
ave_math_score = school_data_complete["math_score"].mean()
print(ave_math_score)

78.98537145774827

In [7]:
ave_read_score = school_data_complete["reading_score"].mean()
print(ave_read_score)

81.87784018381414

In [8]:
num_students_passing_math_df = school_data_complete.loc[school_data_complete["math_score"]>=70,["Student ID"]]
num_students_passing_math = num_students_passing_math_df["Student ID"].nunique(1)
print(num_students_passing_math)

29370

In [9]:
num_students_passing_read_df = school_data_complete.loc[school_data_complete["reading_score"]>=70,["Student ID"]]
num_students_passing_read = num_students_passing_read_df["Student ID"].nunique(1)
print(num_students_passing_read)

33610

In [10]:
pct_pass_math = num_students_passing_math/number_students
print(pct_pass_math)

0.749808526933878

In [11]:
pct_pass_read = num_students_passing_read/number_students
print(pct_pass_read)

0.8580546336482001

In [12]:
num_students_passing_both_df = pd.merge(num_students_passing_math_df,num_students_passing_read_df,how='inner',on="Student ID")
num_students_passing_both = num_students_passing_both_df["Student ID"].nunique(1)
pct_students_passing_both = num_students_passing_both/number_students
print(pct_students_passing_both)

0.6517232575950983

In [13]:
PyCity_Schools_Summary_df = pd.DataFrame(
    {"Number of Schools": [int(number_of_schools)],
     "Number of Students": [int(number_students)],
     "Total Budget": [int(total_budget)],
     "Ave Math Score": [float(ave_math_score)],
     "Ave Reading Score": [float(ave_read_score)],
     "Pct Passing Math": [float(pct_pass_math)],
     "Pct Passing Reading": [float(pct_pass_read)],
     "Pct Passing Math and Reading": [float(pct_students_passing_both)]
    })
PyCity_Schools_Summary_df

,Number of Schools,Number of Students,Total Budget,Ave Math Score,Ave Reading Score,Pct Passing Math,Pct Passing Reading,Pct Passing Math and Reading
0,15,39170,82932329558,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
# Create list of schools
school_name = school_data.set_index(["School ID"])["school_name"]

In [15]:
# Create list of school type
school_type=school_data.set_index(["School ID"])["type"]

In [16]:
# Count total number of students at each school
total_number_students = school_data_complete["School ID"].value_counts()

In [17]:
# Calculate Total School Budget at each school
school_budget = school_data.set_index(["School ID"])["budget"]

In [18]:
# Calculate Per Student Budget at each school
budget_per_student = school_budget/total_number_students

In [19]:
# Calculate average math and reading score by school
avemathscore = school_data_complete.groupby("School ID").mean()["math_score"]
avereadscore = school_data_complete.groupby("School ID").mean()["reading_score"]

In [20]:
# Create Dataframes for students passing math, reading, and both
passing_math_by_school=school_data_complete[(school_data_complete["math_score"]>=70)]
passing_read_by_school=school_data_complete[(school_data_complete["reading_score"]>=70)]
passing_both_by_school=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)]

In [21]:
# Calculate % students passing math at each school
pct_students_pass_math = passing_math_by_school.groupby("School ID").count()["student_name"]/total_number_students*100
pct_students_pass_read = passing_read_by_school.groupby("School ID").count()["student_name"]/total_number_students*100
pct_students_pass_both = passing_both_by_school.groupby("School ID").count()["student_name"]/total_number_students*100

In [54]:
# Creating a new DataFrame to show school performance
summary_df = pd.DataFrame({"School":school_name,
                           "School Type":school_type,
                           "Total Students": total_number_students,
                           "School Budget":school_budget,
                           "Budget per Student":budget_per_student,
                           "Ave Math Score": avemathscore,
                           "Ave Reading Score":avereadscore,
                           "% Pass Math":pct_students_pass_math,
                           "% Pass Reading":pct_students_pass_read,
                           "% Pass Math and Reading":pct_students_pass_both,
                          })

# Format the "Total Students" to have the comma for a thousands separator.
summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
summary_df["School Budget"] = summary_df["School Budget"].map("${:,.2f}".format)
# Format the columns.
summary_df["Ave Math Score"] = summary_df["Ave Math Score"].map("{:.1f}".format)
summary_df["Ave Reading Score"] = summary_df["Ave Reading Score"].map("{:.1f}".format)
summary_df["% Pass Math"] = summary_df["% Pass Math"].map("{:.1f}".format)
summary_df["% Pass Reading"] = summary_df["% Pass Reading"].map("{:.1f}".format)
summary_df["% Pass Math and Reading"] = summary_df["% Pass Math and Reading"].map("{:.1f}".format)


# summary_df.style.format.hide_index()
summary_df

,School,School Type,Total Students,School Budget,Budget per Student,Ave Math Score,Ave Reading Score,% Pass Math,% Pass Reading,% Pass Math and Reading
0,Huang High School,District,"2,917","$1,910,635.00",655.0,76.6,81.2,65.7,81.3,53.5
1,Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.7,81.2,66.0,80.7,53.2
2,Shelton High School,Charter,"1,761","$1,056,600.00",600.0,83.4,83.7,93.9,95.9,89.9
3,Hernandez High School,District,"4,635","$3,022,020.00",652.0,77.3,80.9,66.8,80.9,53.5
4,Griffin High School,Charter,"1,468","$917,500.00",625.0,83.4,83.8,93.4,97.1,90.6
5,Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.3,84.0,93.9,96.5,90.6
6,Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.1,84.0,94.1,97.0,91.3
7,Bailey High School,District,"4,976","$3,124,928.00",628.0,77.0,81.0,66.7,81.9,54.6
8,Holden High School,Charter,427,"$248,087.00",581.0,83.8,83.8,92.5,96.3,89.2
9,Pena High School,Charter,962,"$585,858.00",609.0,83.8,84.0,94.6,95.9,90.5
10,Wright High School,Charter,"1,800","$1,049,400.00",583.0,83.7,84.0,93.3,96.6,90.3
11,Rodriguez High School,District,"3,999","$2,547,363.00",637.0,76.8,80.7,66.4,80.2,53.0
12,Johnson High School,District,"4,761","$3,094,650.00",650.0,77.1,81.0,66.1,81.2,53.5
13,Ford High School,District,"2,739","$1,763,916.00",644.0,77.1,80.7,68.3,79.3,54.3
14,Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.4,83.8,93.3,97.3,90.9

In [ ]:
# summary_df.style.format({"School":school,
#                         "School Type":school_type,
#                         "Total Students": total_number_students,
#                         "School Budget":school_budget,
#                         "Budget per Student":budget_per_student,
#                         "Ave Math Score": avemathscore,
#                         "Ave Reading Score":avereadscore,
#                         "%Pass Math":pct_students_pass_math,
#                         "% Pass Reading":pct_students_pass_read,
#                         "% Pass Math and Reading":pct_students_pass_both,
#                         })

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [23]:
top_performing_df = summary_df.sort_values(by=["% Pass Math and Reading"],ascending=False)
top_performing_df.head(5)

,School,School Type,Total Students,School Budget,Budget per Student,Ave Math Score,Ave Reading Score,% Pass Math,% Pass Reading,% Pass Math and Reading
6,Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.1,84.0,94.1,97.0,91.3
14,Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.4,83.8,93.3,97.3,90.9
4,Griffin High School,Charter,"1,468","$917,500.00",625.0,83.4,83.8,93.4,97.1,90.6
5,Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.3,84.0,93.9,96.5,90.6
9,Pena High School,Charter,962,"$585,858.00",609.0,83.8,84.0,94.6,95.9,90.5

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [24]:
worst_performing_df = summary_df.sort_values(by=["% Pass Math and Reading"],ascending=True)
worst_performing_df.head(5)

,School,School Type,Total Students,School Budget,Budget per Student,Ave Math Score,Ave Reading Score,% Pass Math,% Pass Reading,% Pass Math and Reading
11,Rodriguez High School,District,"3,999","$2,547,363.00",637.0,76.8,80.7,66.4,80.2,53.0
1,Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.7,81.2,66.0,80.7,53.2
0,Huang High School,District,"2,917","$1,910,635.00",655.0,76.6,81.2,65.7,81.3,53.5
3,Hernandez High School,District,"4,635","$3,022,020.00",652.0,77.3,80.9,66.8,80.9,53.5
12,Johnson High School,District,"4,761","$3,094,650.00",650.0,77.1,81.0,66.1,81.2,53.5

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [25]:
# Create Data Frame for each grade
data_9_df=school_data_complete[(school_data_complete["grade"]=="9th")]
data_10_df=school_data_complete[(school_data_complete["grade"]=="10th")]
data_11_df=school_data_complete[(school_data_complete["grade"]=="11th")]
data_12_df=school_data_complete[(school_data_complete["grade"]=="12th")]

In [26]:
# Create Data Series for each grade 
math_9 = data_9_df.groupby("School ID").mean()["math_score"]
math_10 = data_10_df.groupby("School ID").mean()["math_score"]
math_11 = data_11_df.groupby("School ID").mean()["math_score"]
math_12 = data_12_df.groupby("School ID").mean()["math_score"]

In [27]:
# Creating a new DataFrame to show math performance by school for each grade
summary_math_grade_df = pd.DataFrame({"School":school_name,
                           "9th":math_9,
                           "10th":math_10,
                           "11th":math_11,
                           "12th":math_12
                          })
summary_math_grade_df = summary_math_grade_df.set_index("School")
summary_math_grade_df

                             9th       10th       11th       12th
School
Huang High School      77.027251  75.908735  76.446602  77.225641
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Shelton High School    83.420755  82.917411  83.383495  83.778976
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Griffin High School    82.044010  84.229064  83.842105  83.356164
Wilson High School     83.085578  83.724422  83.195326  83.035794
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Bailey High School     77.083676  76.996772  77.515588  76.492218
Holden High School     83.787402  83.429825  85.000000  82.855422
Pena High School       83.625455  83.372000  84.328125  84.121547
Wright High School     83.264706  84.010288  83.836782  83.644986
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Johnson High School    77.187857  76.691117  77.491653  76.863248
Ford High School       77.361345  77.672316  76.918058  76.179963
Thomas High School     83.590022  83.087886  83.498795  83.497041

* Perform the same operations as above for reading scores

In [28]:
# Create Data Series for each grade 
read_9 = data_9_df.groupby("School ID").mean()["reading_score"]
read_10 = data_10_df.groupby("School ID").mean()["reading_score"]
read_11 = data_11_df.groupby("School ID").mean()["reading_score"]
read_12 = data_12_df.groupby("School ID").mean()["reading_score"]

In [29]:
# Creating a new DataFrame to show math performance by school for each grade
summary_read_grade_df = pd.DataFrame({"School":school_name,
                           "9th":read_9,
                           "10th":read_10,
                           "11th":read_11,
                           "12th":read_12
                          })
summary_read_grade_df=summary_read_grade_df.set_index("School")
summary_read_grade_df

                             9th       10th       11th       12th
School
Huang High School      81.290284  81.512386  81.417476  80.305983
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Shelton High School    84.122642  83.441964  84.373786  82.781671
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Griffin High School    83.369193  83.706897  84.288089  84.013699
Wilson High School     83.939778  84.021452  83.764608  84.317673
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Bailey High School     81.303155  80.907183  80.945643  80.912451
Holden High School     83.677165  83.324561  83.815534  84.698795
Pena High School       83.807273  83.612000  84.335938  84.591160
Wright High School     83.833333  83.812757  84.156322  84.073171
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Johnson High School    81.260714  80.773431  80.616027  81.227564
Ford High School       80.632653  81.262712  80.403642  80.662338
Thomas High School     83.728850  84.254157  83.585542  83.831361

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [30]:
# Create dataframes for each budget category (Filter based on Budget per Student)
spend_1_df = summary_df[(summary_df["Budget per Student"]<585)]
spend_2_df = summary_df[(summary_df["Budget per Student"]>=585) & (summary_df["Budget per Student"]<630)]
spend_3_df = summary_df[(summary_df["Budget per Student"]>=630) & (summary_df["Budget per Student"]<645)]
spend_4_df = summary_df[(summary_df["Budget per Student"]>=645) & (summary_df["Budget per Student"]<680)]

In [31]:
# Calculate the average math score per student in each spending per pupil category
spend1_avemath = spend_1_df.mean()["Ave Math Score"]
spend2_avemath = spend_2_df.mean()["Ave Math Score"]
spend3_avemath = spend_3_df.mean()["Ave Math Score"]
spend4_avemath = spend_4_df.mean()["Ave Math Score"]

KeyError: 'Ave Math Score'

In [32]:
# Calculate the average reading score per student in each spending per pupil category
spend1_averead = spend_1_df.mean()["Ave Reading Score"]
spend2_averead = spend_2_df.mean()["Ave Reading Score"]
spend3_averead = spend_3_df.mean()["Ave Reading Score"]
spend4_averead = spend_4_df.mean()["Ave Reading Score"]

KeyError: 'Ave Reading Score'

In [33]:
# Calculate the % passing math in each spending per pupil category
spend1_pctpassmath = spend_1_df.mean()["%Pass Math"]
spend2_pctpassmath = spend_2_df.mean()["%Pass Math"]
spend3_pctpassmath = spend_3_df.mean()["%Pass Math"]
spend4_pctpassmath = spend_4_df.mean()["%Pass Math"]

KeyError: '%Pass Math'

In [34]:
# Calculate the % passing reading in each spending per pupil category
spend1_pctpassread = spend_1_df.mean()["% Pass Reading"]
spend2_pctpassread = spend_2_df.mean()["% Pass Reading"]
spend3_pctpassread = spend_3_df.mean()["% Pass Reading"]
spend4_pctpassread = spend_4_df.mean()["% Pass Reading"]

KeyError: '% Pass Reading'

In [35]:
# Calculate the % passing math and reading in each spending per pupil category
spend1_pctpass_math_read = spend_1_df.mean()["% Pass Math and Reading"]
spend2_pctpass_math_read = spend_2_df.mean()["% Pass Math and Reading"]
spend3_pctpass_math_read = spend_3_df.mean()["% Pass Math and Reading"]
spend4_pctpass_math_read = spend_4_df.mean()["% Pass Math and Reading"]

KeyError: '% Pass Math and Reading'

In [36]:
# Create Dataframe using a list of dictionaries
spending_df = pd.DataFrame([
    {"Spending Ranges per Student": "<$585","Average Math Score":spend1_avemath,"Average Reading Score":spend1_averead,"% Pass Math": spend1_pctpassmath,"% Pass Reading": spend1_pctpassread,"% Pass Math and Reading": spend1_pctpass_math_read},
    {"Spending Ranges per Student": "$585-630","Average Math Score":spend2_avemath,"Average Reading Score":spend2_averead,"% Pass Math": spend2_pctpassmath,"% Pass Reading": spend2_pctpassread,"% Pass Math and Reading": spend2_pctpass_math_read},
    {"Spending Ranges per Student": "$630-645","Average Math Score":spend3_avemath,"Average Reading Score":spend3_averead,"% Pass Math": spend3_pctpassmath,"% Pass Reading": spend3_pctpassread,"% Pass Math and Reading": spend3_pctpass_math_read},
    {"Spending Ranges per Student": "$645-680","Average Math Score":spend4_avemath,"Average Reading Score":spend4_averead,"% Pass Math": spend4_pctpassmath,"% Pass Reading": spend4_pctpassread,"% Pass Math and Reading": spend4_pctpass_math_read},
])

spending_df = spending_df.set_index("Spending Ranges per Student")
spending_df

NameError: name 'spend1_avemath' is not defined

## Scores by School Size

* Perform the same operations as above, based on school size.

In [37]:
# Create dataframes for each budget category
size_1_df = summary_df[(summary_df["Total Students"]<1000)]
size_2_df = summary_df[(summary_df["Total Students"]>=1000) & (summary_df["Total Students"]<2000)]
size_3_df = summary_df[(summary_df["Total Students"]>=2000) & (summary_df["Total Students"]<5000)]

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
# Calculate the average math score per student in each school size category
size_1_avemath = size_1_df.mean()["Ave Math Score"]
size_2_avemath = size_2_df.mean()["Ave Math Score"]
size_3_avemath = size_3_df.mean()["Ave Math Score"]

NameError: name 'size_1_df' is not defined

In [39]:
# Calculate the average reading score per student in each school size category
size_1_averead = size_1_df.mean()["Ave Reading Score"]
size_2_averead = size_2_df.mean()["Ave Reading Score"]
size_3_averead = size_3_df.mean()["Ave Reading Score"]

NameError: name 'size_1_df' is not defined

In [40]:
# Calculate the % passing math in each school size category
size_1_pctpassmath = size_1_df.mean()["%Pass Math"]
size_2_pctpassmath = size_2_df.mean()["%Pass Math"]
size_3_pctpassmath = size_3_df.mean()["%Pass Math"]

NameError: name 'size_1_df' is not defined

In [41]:
# Calculate the % passing reading in each school size category
size_1_pctpassread = size_1_df.mean()["% Pass Reading"]
size_2_pctpassread = size_2_df.mean()["% Pass Reading"]
size_3_pctpassread = size_3_df.mean()["% Pass Reading"]

NameError: name 'size_1_df' is not defined

In [42]:
# Calculate the % passing math and reading in each spending per pupil category
size_1_pctpass_math_read = size_1_df.mean()["% Pass Math and Reading"]
size_2_pctpass_math_read = size_2_df.mean()["% Pass Math and Reading"]
size_3_pctpass_math_read = size_3_df.mean()["% Pass Math and Reading"]

NameError: name 'size_1_df' is not defined

In [43]:
## Create Dataframe using a list of dictionaries
size_summary_df = pd.DataFrame([
    {"Spending Range per Student": "Small(<1000)","Average Math Score":size_1_avemath,"Average Reading Score":size_1_averead,"% Pass Math": size_1_pctpassmath,"% Pass Reading": size_1_pctpassread,"% Pass Math and Reading": size_1_pctpass_math_read},
    {"Spending Range per Student": "Medium(1000-2000)","Average Math Score":size_2_avemath,"Average Reading Score":size_2_averead,"% Pass Math": size_2_pctpassmath,"% Pass Reading": size_2_pctpassread,"% Pass Math and Reading": size_2_pctpass_math_read},
    {"Spending Range per Student": "Large(2000-5000)","Average Math Score":size_3_avemath,"Average Reading Score":size_3_averead,"% Pass Math": size_3_pctpassmath,"% Pass Reading": size_3_pctpassread,"% Pass Math and Reading": size_3_pctpass_math_read},
])

size_summary_df = size_summary_df.set_index("Spending Range per Student")
size_summary_df

NameError: name 'size_1_avemath' is not defined

## Scores by School Type

* Perform the same operations as above, based on school type

In [44]:
summary_df

,School,School Type,Total Students,School Budget,Budget per Student,Ave Math Score,Ave Reading Score,% Pass Math,% Pass Reading,% Pass Math and Reading
0,Huang High School,District,"2,917","$1,910,635.00",655.0,76.6,81.2,65.7,81.3,53.5
1,Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.7,81.2,66.0,80.7,53.2
2,Shelton High School,Charter,"1,761","$1,056,600.00",600.0,83.4,83.7,93.9,95.9,89.9
3,Hernandez High School,District,"4,635","$3,022,020.00",652.0,77.3,80.9,66.8,80.9,53.5
4,Griffin High School,Charter,"1,468","$917,500.00",625.0,83.4,83.8,93.4,97.1,90.6
5,Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.3,84.0,93.9,96.5,90.6
6,Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.1,84.0,94.1,97.0,91.3
7,Bailey High School,District,"4,976","$3,124,928.00",628.0,77.0,81.0,66.7,81.9,54.6
8,Holden High School,Charter,427,"$248,087.00",581.0,83.8,83.8,92.5,96.3,89.2
9,Pena High School,Charter,962,"$585,858.00",609.0,83.8,84.0,94.6,95.9,90.5
10,Wright High School,Charter,"1,800","$1,049,400.00",583.0,83.7,84.0,93.3,96.6,90.3
11,Rodriguez High School,District,"3,999","$2,547,363.00",637.0,76.8,80.7,66.4,80.2,53.0
12,Johnson High School,District,"4,761","$3,094,650.00",650.0,77.1,81.0,66.1,81.2,53.5
13,Ford High School,District,"2,739","$1,763,916.00",644.0,77.1,80.7,68.3,79.3,54.3
14,Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.4,83.8,93.3,97.3,90.9

In [45]:
# Create dataframes for each budget category
type_1_df = summary_df[(summary_df["School Type"]=="District")]
type_2_df = summary_df[(summary_df["School Type"]=="Charter")]

In [46]:
# Calculate the average math score per student in each school size category
type_1_avemath = type_1_df.mean()["Ave Math Score"]
type_2_avemath = type_2_df.mean()["Ave Math Score"]

KeyError: 'Ave Math Score'

In [47]:
# Calculate the average reading score per student in each school size category
type_1_averead = type_1_df.mean()["Ave Reading Score"]
type_2_averead = type_2_df.mean()["Ave Reading Score"]

KeyError: 'Ave Reading Score'

In [48]:
# Calculate the % passing math in each school size category
type_1_pctpassmath = type_1_df.mean()["%Pass Math"]
type_2_pctpassmath = type_2_df.mean()["%Pass Math"]

KeyError: '%Pass Math'

In [49]:
# Calculate the % passing reading in each school size category
type_1_pctpassread = type_1_df.mean()["% Pass Reading"]
type_2_pctpassread = type_2_df.mean()["% Pass Reading"]

KeyError: '% Pass Reading'

In [50]:
# Calculate the % passing math and reading in each spending per pupil category
type_1_pctpass_math_read = type_1_df.mean()["% Pass Math and Reading"]
type_2_pctpass_math_read = type_2_df.mean()["% Pass Math and Reading"]

KeyError: '% Pass Math and Reading'

In [51]:
## Create Dataframe using a list of dictionaries
type_summary_df = pd.DataFrame([
    {"School Type": "Charter","Average Math Score":type_2_avemath,"Average Reading Score":type_2_averead,"% Pass Math": type_2_pctpassmath,"% Pass Reading": type_2_pctpassread,"% Pass Math and Reading": type_2_pctpass_math_read},
    {"School Type": "District","Average Math Score":type_1_avemath,"Average Reading Score":type_1_averead,"% Pass Math": type_1_pctpassmath,"% Pass Reading": type_1_pctpassread,"% Pass Math and Reading": type_1_pctpass_math_read},
])

type_summary_df = type_summary_df.set_index("School Type")
type_summary_df

NameError: name 'type_2_avemath' is not defined